*{
	margin: 0px;
	padding: 0px;
}
body{
	background: #ccc;
}
.main_div{
	background: white;
	width: 892px;
	height: 1386px;
	margin: 0px auto;
	padding: 0px 44px;
}



/*head*/
.head_div{
	position: relative;
	margin: 0px auto;
	font-family: "黑体";
	border-bottom: 2px solid #938e8c;
}
.left-top{
	position: absolute;
	left: 0px;
	bottom: 0px;
	padding: 2px;
	font-size: 12px;
	color: #ffffff;
}
.right-top{
	position: absolute;
	right: 0px;
	bottom: 0px;
	padding-bottom: 2px;
	font-size: 12px;
	color: #d45d5c;
}
.rectangle{
	width: 110px;	
	height: 61px;
	background: #d45d5c;
}






/*middle-1*/
.middle-1{
	height: 301px;
	position: relative;
	margin-top:20px;
	background: white;
	width: 892px;
}
.middle1-left{
	position: absolute;
	left: 0px;
	width: 641px;
	height: 301px;
}
.cover-left{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 191px;
	height: 301px;
	background: green;
	opacity:0.2;
	float: left;
}
.cover-right{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 191px;
	height: 301px;
	background: red;
	opacity:0.2;
	float: right;
}
.middle1-right{
	position: absolute;
	right: 0px;
	width: 203px;
	height: 301px;
	background:white;
	border-top: 2px solid #cc8091;
}
.p-about{
 	line-height: 40px;

	font-size: 24px;
	font-family: "微软雅黑";
	color: #00000;
	font-variant: small-caps;
	text-transform: capitalize;
	border-bottom: 2px solid #938e8c;
}
.small-about{
	font-size: 12px;
	color: #676767;
	font-family: "楷体";
	line-height: 10px;
}
.num700{
	font-size: 116px;
	color: #75b86b;
	font-family: "微软雅黑";
	font-style: oblique;
}
.num32{
	float: left;
	position: absolute;
	left: 0px;
	font-size: 55px;
	color: #cc8091;
	font-family: "微软雅黑";
}
.css1{
	position: absolute;
	bottom: 20px;
	left: 85px;
	font-size: 21px;
	color: #cc8091;
	font-family: "微软雅黑";
}
.css2{
	position: absolute;
	bottom: 10px;
	left: 85px;
	font-size:12px;
	color: #cc8091;
	font-family: "微软雅黑";
}







/*middle-2*/
.middle-2{
	margin-top: 30px;
	width: 641px;
	padding: 0px;
}
.text1{
	width:33.3%;
	padding: 0px;
}
.text1-what{
	font-size: 16px;
	color: #418c59;
	font-family: "微软雅黑";
	font-weight:bold;
	text-decoration: underline;
}
.text1-word{
	margin-right: 15px;
	font-size: 12px;
	color: #767777;
	font-family: "宋体";
	line-height:16px;
}

.text2{
	width:33.3%;
	padding: 0px;
	float: right;
}
.text2-when{
	font-size: 16px;
	color: #d2994f;
	font-family: "微软雅黑";
	font-weight:bold;
	text-decoration: underline;
}
.text2-word{
	margin-right: 15px;
	font-size: 12px;
	color: #231815;
	font-family: "微软雅黑";
	line-height:16px;
	opacity:0.7;
}

.text3{
	width: 33.4%;
	float: right;
	padding:0px;
}
.text3-how{
	font-size: 16px;
	color: #cc7680;
	font-family: "微软雅黑";
	font-weight:bold;
	text-decoration: underline;
}
.text3-word{
	margin-right: 15px;
	font-size: 12px;
	color: #231815;
	font-family: "微软雅黑";
	line-height:20px;
	opacity:0.7;
}
#text3-hehe{
	margin-top: 20px;
}
.text3-num{
	font-size: 12px;
	color: #cd4a48;
	font-family: "微软雅黑";
	line-height:16px;
	opacity:0.7;
	font-style: oblique;
}


/*middle-3*/
.middle-3{
	width: 892px;
}
.middle3-left{
	float: left;
	width:415px;
}
#the{
	font-size: 72px;
	color: #f5e327;
	font-family: "黑体";
	font-weight: bold;
	font-style: oblique;
}
#tech{
	font-size: 42px;
	color: #11456b;
	font-family: "黑体";
	font-weight: bold;	
}
#tech-in{
	font-size: 33px;
	color: #11456b;
	font-family: "黑体";
	font-weight: bold;
}
#middle3-leftup{
	border-bottom: 2px solid #11456b;
}


#middle3-leftdown{
	padding-top: 20px;
	padding-bottom: 20px;
}
#front{
	float: left;
	font-size: 70px;
	color: #f5e327;
	font-family: "微软雅黑";
}
#img-computer{
	float: right;
	margin: 10px 0px 10px 10px;
	
}
.leftdown-word{
	font-size: 12px;
	color: #767777;
	font-family: "宋体";
	line-height: 16px;
	text-indent: 2em;
}


.middle3-right{
	float: right;
	width: 458px;	
}
.middle3-rightup{
	width: 458px;
	height: 275px;
	position: relative;
}
.middle3-rightup-cover{
	width: 458px;
	height: 61px;
	position: absolute;
	bottom: 0px;
	background: black;
	opacity:0.7;

}
.cover-word{
	border-left: 3px solid #72b16a;
	margin:9px 0px 9px 25px;
	padding: 2px;

}
#cover-word1{
	font-size: 26px;
	color: white;
	font-family:  "微软雅黑";
}
#cover-word2{
	font-size: 12px;
	color: #72b16a;
	font-family:  "微软雅黑";
	font-style: oblique;
}